#if some_condition:
     #execute same code
#else:
     #do something else

#if some_condition:
     #execute same code
#elif some_other_condition:
     #do something else
#else:
     #do something else

In [ ]:
if True:
    print('ITS TRUE!')

In [ ]:
hungry = False 

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

In [ ]:
loc = 'store' #change the locations

if loc =='autoshop': #we have to put two equal to sign
    print('Cars are cool.')
elif loc == 'bank':
    print('Money is cool.')
elif loc == 'store':
    print('Welcome to the store!')
else:
    print('I dont know much.') #when its neither of the three this will print

In [ ]:
name = 'Sammy' #change the name

if name =='Franky':
    print('Hi Franky')
elif name == "Sammy":
    print("Hi Sammy")
else:
    print('What is your name?')

In [ ]:
#FOR LOOPS IN PYTHON

# my_iterable = [1,2,3]
#for item_name in my_iterable:
#   print(item_name)

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in mylist:
    print(num)

In [ ]:
for num in mylist:
    print('bye')

In [ ]:
for num in mylist:
    #check for even
    if num%2 == 0:
        print(num)
    else:
        print(f'Odd Number :{num}')

In [ ]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

In [ ]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

In [ ]:
tup = (1,2,3)

for item in tup:
    print(item)

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [ ]:
len(mylist)

In [ ]:
for item in mylist:
    print(item)

In [ ]:
for (a,b) in mylist: #tuple unpacking(access to indivisual items)
    print(a)
    print(b)

In [ ]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [ ]:
for a,b,c in mylist:
    print(b)

In [ ]:
print(a)

In [ ]:
d = {'k1':1,'k2':2,'k3':3} #key:value pair #dictionaries are unordered

In [ ]:
for key,value in d:
    print(value)

In [ ]:
#WHILE LOOPS

# while some_boolean_condition:
     #do something
# else:
     #do something else

In [3]:
x = 0

while x <5:
    print(f'The current value of x is {x}')
    x = x+1 #x+=1
else:
    print('X IS NOT LESS THAN FIVE')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN FIVE

#   BREAK,CONTINUE,PASS 

#   break:breaks out of the current closest enclosing loop.

#   continue: goes to the top of the closest enclosing loop.

#   pass:does nothing at all

In [5]:
x = [1,2,3]

for item in x:
    #comment --> pass keyword
    pass 

print('end of my script')

end of my script

In [6]:
 mystring = 'Sammy'

In [10]:
for letter in mystring:
    if letter == 'a':
        break #breaks out
    print(letter)

S

In [3]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

#useful operators

In [5]:
mylist =[1,2,3]

In [11]:
for num in range(0,11,2): #range operator
    print(num)

0
2
4
6
8
10

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [14]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'. format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [18]:
word = 'abcde'

for index,letter in enumerate(word): #enumerate function
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [21]:
mylist1 = [1,2,3,]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [23]:
for item in zip(mylist1,mylist2,mylist3):#zip function helps in zipping two lists as tuples 
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [25]:
'x' in [1,2,3]

False

In [27]:
'x'in ['x','y','z']

True

In [28]:
'a'in 'a world'

True

In [29]:
"mykey" in {'mykey':123}

True

In [31]:
d = {'mykey':123}
123 in d.values()

True

In [32]:
mylist = [10,20,30,40,100]

In [33]:
min(mylist)

10

In [34]:
max(mylist)

100

In [44]:
from random import shuffle

In [45]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [48]:
shuffle(mylist) #doesnt return anything

In [49]:
mylist

[5, 10, 3, 6, 4, 1, 9, 8, 7, 2]

In [51]:
from random import randint

In [52]:
randint(0,100) #randint will give a random value between 0 and 100 as asked to

17

In [53]:
randint(0,10000)

5465

In [54]:
mynum = randint(0,100)

In [55]:
mynum

29

In [1]:
result = input("Enter the number here: ") #input operator only take values as strings

Enter the number here: 89

In [2]:
result

'89'

In [3]:
type(result)

str

In [4]:
int(result)

89

In [7]:
float(result)

89.0

In [9]:
answer = int(input('My favorite number is : '))

My favorite number is : 11

In [10]:
answer

11

In [11]:
type(answer)

int

In [12]:
mystring = 'hello'

In [13]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [14]:
mylist

['h', 'e', 'l', 'l', 'o']

In [15]:
mylist = [letter for letter in mystring] # list comprehension

In [17]:
mylist

['h', 'e', 'l', 'l', 'o']

In [20]:
mylist = [x for x in 'word']

In [21]:
mylist

['w', 'o', 'r', 'd']

In [24]:
mylist = [num**2 for num in range(0,11)] #square of a number

In [25]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
mylist = [x for x in range(0,11) if x%2==0]

In [28]:
mylist

[0, 2, 4, 6, 8, 10]

In [29]:
celcius = [0,10,20,34.5]

fahrenheit =[((9/5)*temp + 32)for temp in celcius]

In [31]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [32]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5*temp + 32))

In [33]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [35]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)] #if else in list comprehension

In [36]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [39]:
mylist = []

for x in[2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [40]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [45]:
mylist=[x*y for x in [2,4,6] for y in [1,10,100]] #list comprehension

In [46]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

#STATEMENT ASSESSMENT TEST

In [ ]:
#QUES1 st = 'Print only the words that start with s in this sentence'

In [53]:
st = 'Print only the words that start with s in this sentence'

In [54]:
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [ ]:
#Use range() to print all the even numbers from 0 to 10.

In [55]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [56]:
mylist=[x for x in range(1,51) if x%3 ==0]

In [57]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [58]:
st = 'Print every word in this sentence that has an even number of letters'

In [61]:
for word in st.split():
    if len(word)%2 == 0:
        print(word+"<-- word with even number")

word<-- word with even number
in<-- word with even number
this<-- word with even number
sentence<-- word with even number
that<-- word with even number
an<-- word with even number
even<-- word with even number
number<-- word with even number
of<-- word with even number

#Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of #the number
#, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [67]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print('FizzBuzz')
    elif num%3==0 :
        print('Fizz')
    elif  num%5==0:
        print('buzz')
    else:
        print(num)

1
2
Fizz
4
buzz
Fizz
7
8
Fizz
buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
buzz
Fizz
22
23
Fizz
buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
buzz
Fizz
37
38
Fizz
buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
buzz
Fizz
52
53
Fizz
buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
buzz
Fizz
67
68
Fizz
buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
buzz
Fizz
82
83
Fizz
buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
buzz
Fizz
97
98
Fizz
buzz

In [70]:
st = 'Create a list of the first letters of every word in this string'

In [71]:
mylist = [word[0] for word in st.split()]

In [72]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

TEST FINISHED

#METHODS AND FUNCTIONS

In [75]:
mylist = [1,2,3]

In [76]:
mylist.append(4)

In [77]:
mylist

[1, 2, 3, 4]

In [78]:
mylist.pop() # pops the last item of the list by defaut

4

In [79]:
mylist

[1, 2, 3]

In [84]:
mylist.insert(2,4)

In [85]:
mylist

[1, 2, 4, 3]

INTRODUCTION TO FUNCTIONS

#def keyword

#def name_of_function():#snake casing: all lowercases with underscore between the words
'''
docstring explains function
'''

In [89]:
def add_function(num1,num2):
    return num1+num2

In [90]:
result = add_function(1,2)
print(result)

3

#basic functions in python

In [94]:
def say_hello():
    print('hello')
    print('how')
    print('are')
    print('you?')

In [95]:
say_hello()

hello
how
are
you?

In [99]:
def say_hello(name):
    print(f'hello {name}')

In [100]:
say_hello('jose')

hello jose

In [101]:
def add_num(num1,num2):
    return num1+num2

In [103]:
result =add_num(100,200)

In [104]:
result

300

In [105]:
def print_result(a,b):
    print(a+b)

In [106]:
def return_result(a,b):
    return a+b

In [110]:
result=print_result(20,30) # not returning anything

50

In [111]:
result

In [112]:
type(result) #returns nothing

NoneType

In [115]:
result=return_result(20,30)

In [116]:
result # returns the value

50

In [117]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [119]:
result=myfunc(100,400)

500

In [120]:
result

500

In [123]:
def sum_numbers(num1,num2):
    return num1+num2

In [126]:
sum_numbers('hi ',' bitch')

'hi  bitch'

In [127]:
sum_numbers("20","40")

'2040'

In [131]:
def even_check(number):
    return number%2 ==0

In [132]:
even_check(20)

True

In [133]:
even_check(11)

False

#RETURN true if any number is even inside the list

In [141]:
def check_even_list(num_list):
    #retutn all the even numbers in a list
    #placeholder variables
    even_numbers=[]
    
    for number in num_list:
        if number%2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [142]:
check_even_list([1,2,3,4,5])

[2, 4]

In [143]:
check_even_list([3,4,5,6,1309,78])

[4, 6, 78]

#FUNCTIONS AND TUPLE UNPACKING

In [144]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [145]:
stock_prices

[('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

In [147]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [149]:
for ticker,price in stock_prices:
    print(ticker)
    print(price+(0.1*price)) #10% increased

APPL
220.0
GOOG
440.0
MSFT
110.0

In [172]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

###### def employee_check(work_hours):
    current_max=0
    employee_month=''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max=hours
            employee_month=employee
        else:
            pass
    return (employee_month,current_max)

In [176]:
result=employee_check(work_hours)

In [177]:
name,hours = employee_check(work_hours)#tuple unpacking w function call

In [178]:
result

('Billy', 4000)

In [179]:
name

'Billy'

In [180]:
hours

4000

In [196]:
example=[1,2,3,4,5,6,7,8,9]

In [197]:
from random import shuffle

In [198]:
shuffle(example)

In [199]:
example

[7, 3, 1, 8, 6, 5, 2, 9, 4]

#THREE CUP MONTE

In [200]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [201]:
mylist=['',0,'']

In [202]:
shuffle_list(mylist)

[0, '', '']

In [204]:
def player_guess():
    
    
    guess='' 
    
    while guess not in ['1','2','0']:
        guess = input('pick a number:0,1,2')
    
    
    return int(guess)

In [205]:
player_guess()

pick a number:0,1,22

2

In [208]:
myindex=player_guess()

pick a number:0,1,21

In [209]:
myindex

1

In [210]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('correct!')
    else:
        print("wrong")
        print(mylist)

In [221]:
#INITIAL LIST
mylist=['','O','']
#SHUFFLE LIST
mixedup_list = shuffle_list(mylist)
#USER GUESS
guess = player_guess()
#CHECK GUESS
check_guess(mixedup_list,guess)

pick a number:0,1,22
wrong
['', 'O', '']

In [1]:
#*args:argument and **kwargs:keyword arguments

In [6]:
def myfunc(a,b,c=0,d=0,e=0):
    #returns 5% of the sum of a and b
    return sum((a,b,c,d,e))*0.05

In [8]:
myfunc(60,40,50,50)

10.0

In [9]:
def myfunc(*args):#unlimited arguments arbitary number tuples
    return sum(args)*0.05

In [10]:
myfunc(40,60,70,30,45,55)

15.0

In [16]:
def myfunc(**kwargs):
    print(kwargs)#dictionary
    if'fruit'in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('NO FRUIT!')

In [17]:
myfunc(fruit='apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [21]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [22]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [40]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [41]:
lesser_of_two_evens(70,4)

4

In [56]:
def animal_crackers(text):
    wordlist= text.lower().split()
    return  wordlist[0][0] == wordlist[1][0]

In [59]:
animal_crackers("Pink panther")

True

In [58]:
animal_crackers('Blue whale')

False

In [61]:
animal_crackers('Humming bird')

False

In [69]:
def makes_twenty(n1,n2):
    return(n1+n2)== 20 or n1 == 20 or n2 == 20

In [70]:
makes_twenty(10,10)

True

In [71]:
makes_twenty(20,0)

True

In [72]:
makes_twenty(87,78)

False

In [78]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest=name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [79]:
old_macdonald('macdonald')

'MacDonald'

In [80]:
def old_macdonald(name):
    first_half=name[:3]
    second_half=name[3:]
    
    return first_half.capitalize()+second_half.capitalize()

In [82]:
old_macdonald("hello")

'HelLo'

In [94]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [95]:
master_yoda( "you are dumb")

'dumb are you'

In [88]:
mylist=['a','b','c']

In [91]:
'--'.join(mylist) #join function

'a--b--c'

In [98]:
def almost_there(n):
    
    return (abs(100-n)<=10) or (abs(200-n) <=10)

In [99]:
almost_there(34)

False

In [100]:
almost_there(210)

True

In [103]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1]==3:
            return True
       
    return False

In [105]:
has_33([1,3,4,3,5])

False

In [106]:
def paper_doll(text):
    result=''
    
    for char in text:
        result += char*3
    return result

In [107]:
paper_doll("hello")

'hhheeellllllooo'

In [118]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return "BUST"

In [119]:
blackjack(1,2,3)

6

In [120]:
blackjack(11,10,9)

20

In [121]:
def summer_69(arr):
    
    
    total=0
    add=True
    
    for num in arr:
        while add:
            if num!=6:
                total +=num
                break
            else:
                add=False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [123]:
summer_69([1,2,4,5,6,7,6,7,8,9])

12

In [ ]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))
if(x == y):
    print ("Both the numbers are equal")
else: 
    if (y>x):
        print("the greater number is:"y) 
    else: 
        print ("the greater number is:"x)

In [3]:
for x in range(-2,-10,-2):
    print(x)

-2
-4
-6
-8

In [6]:
for x in range(-2,5,1):
    print(x,end=",")

-2,-1,0,1,2,3,4,

In [7]:
for x in range(2,-5,-1):
    print(x)

2
1
0
-1
-2
-3
-4

In [15]:
for i in range(3,50):
    if((i%3)==0):
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [22]:
l=[5,12,10,25,34,56,55,150,15,300,20,44,23,100]

for x in l:
    if(x>150):
        break
    else:
        if(x%5==0):
            print(x)

5
10
25
55
150
15

In [10]:
def myfunc(a,b,c=0,d=0,e=0):
    #return 5% of the sum of a and b
    return sum((a,b,c,d,e))*0.05

In [13]:
myfunc(40,60,100,50,50)

15.0

In [14]:
def myfunc(*args):#unlimeted number of arguments
    return sum(args)*0.05

In [15]:
myfunc(50,25,25,50,50)

10.0

In [3]:
n=int(input("num"))

if n%2!=0:
    print("weird")
else:
    if(n>=2 and n<=5):
        print("not weird")
    elif(n>=6 and n<=20):
        print("weird")
    elif(n>20):
        print("not weird")

num23
weird

# QUES 1.YOU ARE GIVEN LIST OF 5 INTEGER NUMBERS . MAKE A NEW LIST WHICH WILL STORE SQUARE OF ELEMENTS OF ORIGINAL LIST

In [28]:
l = []
for i in range (0,5):
    l.append(int(input("enter the integer")))
l_S = []

for i in range (len(l)):
    l_S .append(l[i] ** 2)
print(l_S)

enter the integer23
enter the integer13
enter the integer2
enter the integer2
enter the integer3
[529, 169, 4, 4, 9]

 QUES 2.
 x1=5, y1=5, x2=hello, y2=hello, x3=[1,2,3], y3=[1,2,3]find the output of the following:
print(x1 is not y1) --> FALSE
print(x2 is y2)---> TRUE
print(x3 is y3)--->FALSE

QUES3.3.	Given str=python. What is the output of the following:
str[:],str[0:2], str[::], str[0:], str[:5], str[::-1]

In [42]:
str = "python"

print(str[:])
print(str[0:2])
print(str[::])
print(str[0:])
print(str[:5])
print(str[::-1])

python
py
python
python
pytho
nohtyp

# QUES 4. 1.	Given d={k1:123, k2=[0,1,2], k3: {k1:100}}. Write the code to print 2.

In [59]:
d={'k1': 123,'k2':[0,1,2],'k3':{'k1':100}}
print(d['k2'][2])

2

# QUES 5 Write a function that returns the lesser of two numbers entered by the user.

In [65]:
a=int(input("enter the first number:"))
b=int(input("enter the second number"))
def mini(a,b):
    if a<=b:
        return a
    else:
        return b
print(mini(a,b))

enter the first number:2
enter the second number3
2

# QUES 6.	Enter the name of a person. Write code to capitalize the first and the fourth letters of this name.

In [89]:
def capi(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest=name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [91]:
capi('reeva')

'ReeVa'

# QUES 7	Write a function that calculates the volume of the sphere where the radius is entered by the radius. For example:
def vol(radius)

In [104]:
def volume(r): 
    vol = (4 / 3) * 3.14 * r**3
    return vol

In [107]:
volume(3)

113.03999999999999

# QUES 8 Write code to swap two numbers entered by the user

In [108]:
x = input('Enter value of x: ')  
y = input('Enter value of y: ')  
   
temp = x  
x = y  
y = temp  
  
print('The value of x after swapping: {}'.format(x))  
print('The value of y after swapping: {}'.format(y))

Enter value of x: 3
Enter value of y: 4
The value of x after swapping: 4
The value of y after swapping: 3

# QUES 9 .State the difference between pop and remove method in list

--> Array elements can be removed using pop() or remove() method. The difference between these two functions is that the former returns the deleted value whereas the latter does not. POP removes the specified index item whereas remove looks for the value and removes it from the list.

# QUES 10	Difference between delete and clear method in dictionary

states that del d[key] removes d[key] from the dictionary while d.clear() removes every key, so basically their behavior is the same.

# QUES 11 What will be the output of the following code snippet?
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
A. 1 2 3 4 5 6
B. 2 3 4 5 6 1
C. 1 1 2 3 4 5
D. 2 3 4 5 6 6

In [109]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

In [1]:
t=(1,2,3,4,5)

In [2]:
d={'apple':200,"grape":300,"cherry":600}

In [1]:
n=int(input("Enter a number:"))
d={i:i*i for i in range(1,n+1)}
print(d)

Enter a number:2
{1: 1, 2: 4}

SyntaxError: invalid syntax (<ipython-input-7-57158ce1b2be>, line 2)

In [3]:
def lesser_of_the_two_numbers(a,b):
    if a%2 == 0 and b%2 == 0 :
        if a < b:
            result = a
        else:
            result = b
    else:
        if a > b:
            result = a
        else:
            result = b
    return result

checking

In [4]:
lesser_of_the_two_numbers(2,4)

2

In [7]:
def lesser(a,b):
    if a%2 == 0 and b%2 == 0 :
         return min(a,b)
    else:
        return max(a,b)

In [8]:
lesser(2,5)

5

ANIMAL CRACKER

In [12]:
def ac(text):
    wordlist = text.split()
    print(wordlist)
    first = wordlist[0]
    second = wordlist[1]
    return first[0]==second[0]

In [13]:
ac('hey hi')

['hey', 'hi']

True

In [24]:
def ac(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [18]:
ac("harshita megha")

False

In [21]:
ac('romantic reeva')

True

In [25]:
ac('Cat cat')

True

MAKES TWENTY

In [26]:
def twenty(a,b):
    if a +b ==20:
        return True
    elif a ==20:
        return True
    elif b ==20:
        return True
    else:
        return False

In [27]:
twenty(19,1)

True

In [1]:
def twenty(a,b):
    return (a+b) == 20 or a == 20 or b == 20

In [2]:
twenty(18,2)

True

CAPATALISES FIRST AND FOURTH LETTER OF A STRING

In [3]:
def cap(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    return first_letter.upper()+inbetween+fourth_letter.upper()+rest

In [5]:
cap("megha")

'MegHa'

In [6]:
def cap(name):
    first_half=name[:3]
    second_half=name[3:]
    return first_half.capitalize()+second_half.capitalize() #capitalize help to capitalise the first letter of a word

In [7]:
cap('reeva')

'ReeVa'

# REVERSE THE SENTENCE

In [16]:
def rev(text):
    wordlist = text.split()
    reverse_wordlist=wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [17]:
rev("rahul has a five head")

'head five a has rahul'

In [11]:
mylist=['a','b','c']

In [12]:
'--'.join(mylist) #to join sentences

'a--b--c'

In [14]:
''.join(mylist)

'abc'

In [15]:
' '.join(mylist)

'a b c'

In [20]:
def almost(n): 
    return (abs(100-n) <= 10) or (abs(200-n) <= 10) #abs is absolute value

In [21]:
almost(109)

True

CHECK 33

In [22]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [23]:
has_33([1,3,3])

True

In [25]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [26]:
has_33([1,3,3,4])

True

PAPER DOLL

In [29]:
def paper(text):
    result =''
    for char in text :
        result += char *3
    return result

In [30]:
paper("hi")

'hhhiii'

# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [32]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21: #sum keyword
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) - 10 <=21:
        return sum ([a,b,c])
    else:
        return "BUST"

In [33]:
blackjack(11,3,9)

23

In [34]:
blackjack(11,11,11)

'BUST'

In [35]:
blackjack(1,2,3)

6

# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [37]:
def summer_of_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add=False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [38]:
summer_of_69([1,2,3,4,6,7,8,9])

10

In [39]:
summer_of_69([1,2,3,6,9,1])

7

# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [40]:
def spy_game(nums):
    code=[0,0,7,'x']
    #[0,7,x]
    #[7,x]
    #[x] Length=1
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [42]:
spy_game([1,2,4,0,0,7,5])

True

# COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [43]:
def count_primes(num):
    #store our prime numbrers    
    primes = [2]
    #counter going up to the input
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0: #check if x is prime or not
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [44]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [45]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [46]:
print_big('b')

****
*   *
****
*   *
****

LAMBDA EXPRESSIONS , MAPS AND FILTER

In [47]:
# map(func,*iterables)

In [48]:
def square(num):
    return num**2

In [49]:
my_nums = [1,2,3,4,5]

In [51]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [52]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [53]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [54]:
names=['Andy','EVE','Vans']

In [55]:
list(map(splicer,names))

['EVEN', 'E', 'EVEN']

# SWAPPING 3 NUMBERS

In [4]:
x = input()
y = input()
z = input()
print('The value of x is {}'.format(x))
print('The value of y is {}'.format(y))
print('The value of z is {}'.format(z))
# swapping the values
temp_var = x
x = y
y = z
z = temp_var
print('The value of x after swapping is {}'.format(x))
print('The value of y after swapping is {}'.format(y))
print('The value of z after swapping is {}'.format(z))

1\
2
3
The value of x is 1\
The value of y is 2
The value of z is 3
The value of x after swapping is 2
The value of y after swapping is 3
The value of z after swapping is 1\